includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6

    paths:
        - src
        - tests

    ignoreErrors:
        -
            message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: tests/TestCase.php

    reportUnmatchedIgnoredErrors: false
